<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/welcome" >
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Expat Interview</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Candidate Management" nzIcon="database">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/candidate-list">Candidate List</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/interview">Interview Result</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Settings" nzIcon="bars">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/stacks">Stacks</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/skills">Skills</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome/experience">Experience</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <nz-row>
          <div nz-col>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                ></span>
            </span>
          </div>
          <nz-col><h1 class="navbar-title">Expat</h1></nz-col>
          <nz-col nzOffset="20">
            <ng-template #contentTemplate>
              <nz-list >
                <nz-list-item>
                  <a (click)="openInfo()">User info</a>
                  <nz-drawer
                    [nzBodyStyle]="{ overflow: 'auto' }"
                    [nzMaskClosable]="false"
                    [nzWidth]="400"
                    [nzVisible]="infoVisible"
                    nzTitle="User"
                    (nzOnClose)="closeInfo()"
                  >
                  <ng-container *nzDrawerContent>
                    <nz-descriptions nzTitle="User Info">
                      <nz-descriptions-item nzTitle="Username">data.username</nz-descriptions-item>
                      <br />
                      <nz-descriptions-item nzTitle="Age"></nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Nickname">Hangzhou, Zhejiang</nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Gender">Empty</nz-descriptions-item>
                      <nz-descriptions-item nzTitle="Country">
                      </nz-descriptions-item>
                      <nz-descriptions-item nzTitle="City">
                      </nz-descriptions-item>
                    </nz-descriptions>
                  </ng-container>
                  </nz-drawer>
                </nz-list-item>
                <nz-list-item>
                  <a (click)="openDrawer()">Change Password</a>
                  <nz-drawer
                    [nzBodyStyle]="{ overflow: 'auto' }"
                    [nzMaskClosable]="false"
                    [nzWidth]="400"
                    [nzVisible]="drawerVisible"
                    nzTitle="Change Password"
                    (nzOnClose)="closeDrawer()"
                  >
                  <ng-container *nzDrawerContent>
                    <ng-container *ngIf="!this.changed; else changedTemplate">
                      <form nz-form [formGroup]="changePasswordForm">
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your Password!">
                            <nz-input-group class="login-input" nzPrefixIcon="lock">
                              <input
                                type="password"
                                nz-input
                                formControlName="currentPassword"
                                placeholder="Current password"
                              />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please input your new password!">
                            <nz-input-group class="login-input" nzPrefixIcon="lock">
                              <input
                                type="password"
                                nz-input
                                formControlName="newPassword"
                                placeholder="New password"
                              />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                          <nz-form-control nzErrorTip="Please confirm your new password!">
                            <nz-input-group class="login-input" nzPrefixIcon="lock">
                              <input
                                type="password"
                                nz-input
                                formControlName="confirmNewPassword"
                                placeholder="Confirm Password"
                              />
                            </nz-input-group>
                          </nz-form-control>
                        </nz-form-item>
                        <a>
                          <button nz-button nzType="primary" (click)="submitForm()">
                            Confirm
                          </button>
                        </a>
                      </form>
                    </ng-container>
                    <ng-template #changedTemplate>
                      <nz-result
                        nzStatus="success"
                        nzTitle="Successfully changed password!"
                      >
                        <div nz-result-extra>
                          <button nz-button nzType="primary" (click)="closeDrawer()">Close</button>
                        </div>
                      </nz-result>
                    </ng-template>
                  </ng-container>
                  </nz-drawer>
                </nz-list-item>
                <nz-list-item>
                  <a (click)="logout()">Logout</a>
                </nz-list-item>
              </nz-list>
            </ng-template>
            <button 
              nz-button
              nzType="default"
              nzShape="circle"
              nz-popover
              [nzPopoverTitle]="this.menuTitle"
              [(nzPopoverVisible)]="popoverVisible"
              nzPopoverTrigger="click"
              [nzPopoverContent]="contentTemplate"
              nzPopoverPlacement="bottomRight"
            >
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </button>
          </nz-col>
        </nz-row>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>