<nz-table
  #editRowTable
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzData]="listOfData"
  [nzPageSize]="8"
  class="data-table"
>
  <thead>
    <button nz-button nzType="primary" (click)="showModal()">Add</button>
      <nz-drawer
        [nzBodyStyle]="{ overflow: 'auto' }"
        [nzMaskClosable]="false"
        [nzWidth]="720"
        [nzVisible]="isVisible"
        nzTitle="Create"
        (nzOnClose)="handleCancel()"
      >
        <ng-container *nzDrawerContent>
          <form nz-form [formGroup]="inputGroup">
            <nz-form-item>
                <nz-form-label  [nzSm]="8" [nzXs]="24" nzRequired nzFor="Name">Candidate Name</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <input 
                        nz-input 
                        nzAllowClear 
                        formControlName="Name" 
                        id="Name" 
                        placeholder="Candidate Name"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Gender">Gender</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-cascader 
                        nz-input 
                        nzAllowClear 
                        formControlName="Gender" 
                        id="Gender" 
                        [nzOptions]="genderOptions" 
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="InterviewDate">Interview Date</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-date-picker 
                        nz-input  
                        formControlName="InterviewDate"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="Stack">Stack</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-cascader 
                        nz-input 
                        nzAllowClear 
                        formControlName="Stack" 
                        id="Stack" 
                        [nzOptions]="stackOptions" 
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Skills">Skills</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-tree-select
                      nz-input
                      [nzNodes]="skillNodes"
                      nzShowSearch
                      nzCheckable
                      nzAllowClear
                      nzPlaceHolder="Please select"
                      formControlName="Skills"
                      id="Skills"
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Experience">Experience</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-cascader 
                      nz-input 
                      nzAllowClear 
                      formControlName="Experience" 
                      id="Experience" 
                      [nzOptions]="experienceOptions" 
                    />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Note">Note</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <textarea nz-input nzAllowClear formControlName="Note" id="Note" placeholder="Notes" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>        
                </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
        </form>
      </ng-container>
    </nz-drawer>
    <tr>
      <th nzWidth="30%">Candidate</th>
      <th nzWidth="5%">Gender</th>
      <th style="width: 15%;">Interview Date</th>
      <th style="width: 10%;">Stack</th>
      <th style="width: 10%;">Skills</th>
      <th style="width: 10%;">Experience</th>
      <th style="width: 10%;">Note</th>
      <th style="width: 5%;">Edit</th>
      <th style="width: 5%;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.interviewDate }}</td>
      <td>{{ data.stack }}</td>
      <td>{{ data.skills }}</td>
      <td>{{ data.experience }}</td>
      <td>{{ data.note }}</td>
      <td>
        <a (click)="startEdit(data.id)" class="edit">Edit</a>
        <nz-drawer 
          [nzBodyStyle]="{ overflow: 'auto' }"
          [nzMaskClosable]="false"
          [nzWidth]="720"
          [nzVisible]="editVisible"
          nzTitle="Create"
          (nzOnClose)="cancelEdit(data.id)">
          <ng-container *nzDrawerContent>
            <form nz-form [formGroup]="inputGroup">
              <nz-form-item>
                  <nz-form-label  [nzSm]="8" [nzXs]="24" nzRequired nzFor="Name">Candidate Name</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                      <input 
                        nz-input 
                        nzAllowClear 
                        formControlName="Name" 
                        id="Name" 
                        placeholder="Candidate Name"
                        [(ngModel)]="this.editCache[data.id].data.name"
                      />
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Gender">Gender</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-cascader 
                        nz-input 
                        nzAllowClear 
                        formControlName="Gender" 
                        id="Gender" 
                        [nzOptions]="genderOptions" 
                        [(ngModel)]="this.editCache[data.id].data.gender"
                      />
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="InterviewDate">Interview Date</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-date-picker 
                        nz-input  
                        formControlName="InterviewDate"
                        [(ngModel)]="this.editCache[data.id].data.interviewDate"
                      />
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="Stack">Stack</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-cascader 
                        nz-input 
                        nzAllowClear 
                        formControlName="Stack" 
                        id="Stack" 
                        [nzOptions]="stackOptions" 
                        [(ngModel)]="this.editCache[data.id].data.stack"
                      />
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Skills">Skills</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-tree-select
                        nz-input
                        [nzNodes]="skillNodes"
                        nzShowSearch
                        nzCheckable
                        nzAllowClear
                        nzPlaceHolder="Please select"
                        formControlName="Skills"
                        id="Skills"
                        [(ngModel)]="this.editCache[data.id].data.skills"
                      />
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Experience">Experience</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                      <nz-cascader 
                        nz-input 
                        nzAllowClear 
                        formControlName="Experience" 
                        id="Experience" 
                        [nzOptions]="experienceOptions" 
                        [(ngModel)]="this.editCache[data.id].data.experience"
                      />
                  </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                  <nz-form-label  [nzSm]="8" [nzXs]="24" nzFor="Note">Note</nz-form-label>
                  <nz-form-control [nzSm]="16" [nzXs]="24">
                      <textarea 
                        nz-input 
                        nzAllowClear 
                        formControlName="Note" 
                        id="Note" 
                        placeholder="Notes" 
                        [nzAutosize]="{ minRows: 3, maxRows: 5 }"
                        [(ngModel)]="this.editCache[data.id].data.note"
                      ></textarea>        
                  </nz-form-control>
              </nz-form-item>
              <button nz-button nzType="primary" (click)="saveEdit(data.id)">Save</button>
          </form>
          </ng-container>
        </nz-drawer>
      </td>
      <td>
        <a (click)="deleteRow(data.id)" class="delete">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>