<nz-table
  #editRowTable
  nzBordered
  nzShowPagination
  nzShowSizeChanger
  [nzData]="listOfData"
  [nzPageSize]="8"
  class="data-table"
>
  <thead>
    <tr>
      <th style="width: 60%;">Level</th>
      <th style="width: 20%;">Edit</th>
      <th style="width: 20%;">Delete</th>
    </tr>
    <tr [formGroup]="inputGroup" class="input-row">
      <td  class="editable-cell">
        <input type="text" nz-input formControlName="level" placeholder="Input name" />
      </td>
      <td>
        <a (click)=saveOriginal() class="save-original">Save</a>
      </td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <ng-container *ngIf="!this.editCache[data.id].edit; else editTemplate">
        <td>{{ data.level }}</td>
        <td><a (click)="startEdit(data.id)" class="edit">Edit</a></td>
      </ng-container>
      <ng-template #editTemplate>
        <td>
          <div class="editable-cell">
            <input type="text" nz-input [(ngModel)]="editCache[data.id].data.level" />
          </div>
        </td>
        <td>
          <a (click)="saveEdit(data.id)" class="save">Save</a>
          <a (click)="cancelEdit(data.id)" class="cancel">Cancel</a>
        </td>
      </ng-template>
      <td>
        <a (click)="deleteRow(data.id)" class="delete">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>